<% include ../partials/boilerplate %>
  <div class="unitform">
    <h2><%= empire.name %></h2>
    <p>model:  <%= empire.model %></p>
    <p>maker:  <%= empire.maker %></p>
    <p>cost:  <%= empire.cost %></p>
    <p>crew:  <%= empire.crew %></p>
    <p>station:  <%= empire.station %></p>
    <a href="/empire" class='displayadd'>Back to Main</a><br>
        <a href="/empire/<%=empire.id%>/edit" class='displayadd'>Update Unit</a>
    <form class="delete" action="/empire/<%=empire.id%>?_method=DELETE" method="POST">
  <input type="submit" class='displayadd' value="Disband Unit"/>
</form>
  </div>
<% include ../partials/end %>
