<% include ../partials/boilerplate %>

<% { %>
  <div class="planetform">
    <h2><%= locals.pname %></h2>
    <p><%= locals.population %></p>
    <p><%= locals.climate %></p>
    <p><%= locals.terrain %></p>
    <p><%= locals.control %></p>
  </div> <% } %>


<% include ../partials/end %>
