<% include ../partials/boilerplate %>

<form action="/planet/<%= planet.id %>?_method=PUT" method="POST" class="planetform">
  <input type="text" name="pname" value="<%= planet.pname %>" placeholder="pname"/>
  <input type="number" name="population" value="<%= planet.population %>" placeholder="population"/>
  <input type="text" name="climate" value="<%= planet.climate %>" placeholder="climate"/>
  <input type="text" name="terrain" value="<%= planet.terrain %>" placeholder="terrain"/>
  <input type="text" name="control" value="<%= planet.control %>" placeholder="control"/>
  <input type="submit" value="Update planet" class='displayadd' /><br>

  <a href="/planet/<%=planet.id%>" class='displayadd'>Cancel Changes</a><br>
  <a href="/planet/" class='displayadd'>Back to Main</a>
</form>


<% include ../partials/end %>
